In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
toronto_profile_csvpath = "Resources/neighbourhood-profiles-2016-csv.csv"

toronto_2016_raw_df = pd.read_csv(toronto_profile_csvpath)
toronto_2016_raw_df.head(5)

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
1,2,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%

In [3]:
df = toronto_2016_raw_df
df = df.drop(columns=['_id', 'Category','Data Source','Characteristic','Topic','City of Toronto','Topic'])
dfT = df.T
dfTi = dfT.iloc[:,0:3]
dfT2 = dfT.iloc[:,9:15]
dft_merge = dfTi.merge(dfT2,how='outer',left_index=True,right_index=True)
dft_merge = dft_merge.drop(columns=[1])
dft_merge

,0,2,9,10,11,12,13,14
Agincourt North,129,"29,113","3,840","3,705","11,305","4,230","6,045",925
Agincourt South-Malvern West,128,"23,757","3,075","3,360","9,965","3,265","4,105",555
Alderwood,20,"12,054","1,760","1,235","5,220","1,825","2,015",320
Annex,95,"30,526","2,360","3,750","15,040","3,480","5,910","1,040"
Banbury-Don Mills,42,"27,695","3,605","2,730","10,810","3,555","6,975","1,640"
...,...,...,...,...,...,...,...,...
Wychwood,94,"14,349","1,860","1,320","6,420","1,595","3,150",880
Yonge-Eglinton,100,"11,817","1,800","1,225","5,860","1,325","1,600",165
Yonge-St.Clair,97,"12,528","1,210",920,"5,960","1,540","2,905",470
York University Heights,27,"27,593","4,045","4,750","12,290","2,965","3,530",400
Yorkdale-Glen Park,31,"14,804","1,960","1,870","5,860","1,810","3,295",775

In [4]:
dft_merge.columns =['Neighbourhood ID','Population','Children (0-14 years)','Youth (15-24 years)','Working Age (25-54 years)','Pre-retirement (55-64 years)','Seniors (65+ years)','Older Seniors (85+ years)'] 
dft_merge= dft_merge.reset_index()
dft_merge= dft_merge.rename(columns={'Neighbourhood ID':"id","index":"Neighbourhood","Pre-retirement (55-64 years)":"Pre_retirement (55-64 years)"})
dft_fin= dft_merge.set_index("id")
dft_fin

,Neighbourhood,Population,Children (0-14 years),Youth (15-24 years),Working Age (25-54 years),Pre_retirement (55-64 years),Seniors (65+ years),Older Seniors (85+ years)
id,,,,,,,,
129,Agincourt North,"29,113","3,840","3,705","11,305","4,230","6,045",925
128,Agincourt South-Malvern West,"23,757","3,075","3,360","9,965","3,265","4,105",555
20,Alderwood,"12,054","1,760","1,235","5,220","1,825","2,015",320
95,Annex,"30,526","2,360","3,750","15,040","3,480","5,910","1,040"
42,Banbury-Don Mills,"27,695","3,605","2,730","10,810","3,555","6,975","1,640"
...,...,...,...,...,...,...,...,...
94,Wychwood,"14,349","1,860","1,320","6,420","1,595","3,150",880
100,Yonge-Eglinton,"11,817","1,800","1,225","5,860","1,325","1,600",165
97,Yonge-St.Clair,"12,528","1,210",920,"5,960","1,540","2,905",470
27,York University Heights,"27,593","4,045","4,750","12,290","2,965","3,530",400
31,Yorkdale-Glen Park,"14,804","1,960","1,870","5,860","1,810","3,295",775

In [10]:
### data cleaning, removing all the symbls progres can't process and rename titles to lowercase

cols = dft_fin.columns
cols = cols.map(lambda x: x.replace(' ', '_') if isinstance(x, (str, str)) else x)
cols = cols.map(lambda x: x.replace('(', '') if isinstance(x, (str, str)) else x)
cols = cols.map(lambda x: x.replace(')', '') if isinstance(x, (str, str)) else x)
cols = cols.map(lambda x: x.replace('-', '_to_') if isinstance(x, (str, str)) else x)
cols = cols.map(lambda x: x.replace('+', 'plus') if isinstance(x, (str, str)) else x)
dft_fin.columns = cols

dft_fin.columns = map(str.lower, dft_fin.columns)
cleaned_census_df = dft_fin

cleaned_census_df

,neighbourhood,population,children_0_to_14_years,youth_15_to_24_years,working_age_25_to_54_years,pre_retirement_55_to_64_years,seniors_65plus_years,older_seniors_85plus_years
id,,,,,,,,
129,Agincourt North,29113,3840,3705,11305,4230,6045,925
128,Agincourt South-Malvern West,23757,3075,3360,9965,3265,4105,555
20,Alderwood,12054,1760,1235,5220,1825,2015,320
95,Annex,30526,2360,3750,15040,3480,5910,1040
42,Banbury-Don Mills,27695,3605,2730,10810,3555,6975,1640
...,...,...,...,...,...,...,...,...
94,Wychwood,14349,1860,1320,6420,1595,3150,880
100,Yonge-Eglinton,11817,1800,1225,5860,1325,1600,165
97,Yonge-St.Clair,12528,1210,920,5960,1540,2905,470
27,York University Heights,27593,4045,4750,12290,2965,3530,400
31,Yorkdale-Glen Park,14804,1960,1870,5860,1810,3295,775

In [6]:
dft_fin['Population'] = dft_fin['Population'].str.replace(',', '').astype(int)
dft_fin['Children_0_to_14_years'] = dft_fin['Children_0_to_14_years'].str.replace(',', '').astype(int)
dft_fin['Youth_15_to_24_years'] = dft_fin['Youth_15_to_24_years'].str.replace(',', '').astype(int)
dft_fin['Working_Age_25_to_54_years'] = dft_fin['Working_Age_25_to_54_years'].str.replace(',', '').astype(int)
dft_fin['Pre_retirement_55_to_64_years'] = dft_fin['Pre_retirement_55_to_64_years'].str.replace(',', '').astype(int)
dft_fin['Seniors_65plus_years'] = dft_fin['Seniors_65plus_years'].str.replace(',', '').astype(int)
dft_fin['Older_Seniors_85plus_years'] = dft_fin['Older_Seniors_85plus_years'].str.replace(',', '').astype(int)
dft_fin

,Neighbourhood,Population,Children_0_to_14_years,Youth_15_to_24_years,Working_Age_25_to_54_years,Pre_retirement_55_to_64_years,Seniors_65plus_years,Older_Seniors_85plus_years
id,,,,,,,,
129,Agincourt North,29113,3840,3705,11305,4230,6045,925
128,Agincourt South-Malvern West,23757,3075,3360,9965,3265,4105,555
20,Alderwood,12054,1760,1235,5220,1825,2015,320
95,Annex,30526,2360,3750,15040,3480,5910,1040
42,Banbury-Don Mills,27695,3605,2730,10810,3555,6975,1640
...,...,...,...,...,...,...,...,...
94,Wychwood,14349,1860,1320,6420,1595,3150,880
100,Yonge-Eglinton,11817,1800,1225,5860,1325,1600,165
97,Yonge-St.Clair,12528,1210,920,5960,1540,2905,470
27,York University Heights,27593,4045,4750,12290,2965,3530,400
31,Yorkdale-Glen Park,14804,1960,1870,5860,1810,3295,775

In [11]:
import requests
import json

with open('Resources/Neighbourhood_Crime_Rates_Boundary_File_.geojson') as f:
    data = json.load(f)

Neighbourhood = []
Hood_ID = []
Assault_2016 = []
AutoTheft_2016 = []
BreakandEnter_2016 = []
Homicide_2016 = []
Robbery_2016 = []
TheftOver_2016 = []
    
for feature in data['features']:
    #print(feature['geometry']['type'])
    #print(feature['geometry']['coordinates'])
    #print(feature)
    #print(feature['properties']['Neighbourhood'])
    #print(feature['properties']['Hood_ID'])
    
    Neighbourhood.append(feature['properties']['Neighbourhood'])
    Hood_ID.append(feature['properties']['Hood_ID'])
    Assault_2016.append(feature['properties']['Assault_2016'])
    AutoTheft_2016.append(feature['properties']['AutoTheft_2016'])
    BreakandEnter_2016.append(feature['properties']['BreakandEnter_2016'])
    Homicide_2016.append(feature['properties']['Homicide_2016'])
    Robbery_2016.append(feature['properties']['Robbery_2016'])
    TheftOver_2016.append(feature['properties']['TheftOver_2016'])

In [12]:
toronto_crime_df = pd.DataFrame(
    {
    "Neighbourhood": Neighbourhood,
    "id": Hood_ID,
    "Assault_2016": Assault_2016,
    "AutoTheft_2016": AutoTheft_2016,
    "BreakandEnter_2016": BreakandEnter_2016,
    "Homicide_2016": Homicide_2016,
    "Robbery_2016": Robbery_2016,
    "TheftOver_2016": TheftOver_2016
    }
)
toronto_crime_df.head()

,Neighbourhood,id,Assault_2016,AutoTheft_2016,BreakandEnter_2016,Homicide_2016,Robbery_2016,TheftOver_2016
0,Yonge-St.Clair,097,39,7,12,0,6,8
1,York University Heights,027,361,105,98,2,70,37
2,Lansing-Westgate,038,68,27,41,0,9,5
3,Yorkdale-Glen Park,031,174,41,66,1,24,26
4,Stonegate-Queensway,016,76,12,49,0,16,4

In [13]:
crime_df = toronto_crime_df.set_index('id')


#final dataframe
crime_df.head()

,Neighbourhood,Assault_2016,AutoTheft_2016,BreakandEnter_2016,Homicide_2016,Robbery_2016,TheftOver_2016
id,,,,,,,
097,Yonge-St.Clair,39,7,12,0,6,8
027,York University Heights,361,105,98,2,70,37
038,Lansing-Westgate,68,27,41,0,9,5
031,Yorkdale-Glen Park,174,41,66,1,24,26
016,Stonegate-Queensway,76,12,49,0,16,4

In [14]:
crime_df.columns = map(str.lower,crime_df.columns)
cleaned_crime_df = crime_df

cleaned_crime_df

,neighbourhood,assault_2016,autotheft_2016,breakandenter_2016,homicide_2016,robbery_2016,theftover_2016
id,,,,,,,
097,Yonge-St.Clair,39,7,12,0,6,8
027,York University Heights,361,105,98,2,70,37
038,Lansing-Westgate,68,27,41,0,9,5
031,Yorkdale-Glen Park,174,41,66,1,24,26
016,Stonegate-Queensway,76,12,49,0,16,4
...,...,...,...,...,...,...,...
130,Milliken,88,35,67,0,40,10
046,Pleasant View,58,8,32,0,13,3
094,Wychwood,86,18,29,0,9,4
056,Leaside-Bennington,33,4,32,0,8,2
108,Briar Hill-Belgravia,64,16,31,0,21,4

In [15]:
connection_string = "postgres:postgres@localhost:5432/toronto_tb"
engine = create_engine(f'postgresql://{connection_string}')

In [16]:
engine.table_names()

['crime', 'census']

In [17]:
cleaned_census_df.to_sql(name='census', con=engine, if_exists='append', index=True)

In [19]:
cleaned_crime_df.to_sql(name='crime', con=engine, if_exists='append', index=True)