In [1]:
#importing all dependacies 
import pandas as pd
import requests
import json

In [2]:
# geojson file downloaded from http://data.torontopolice.on.ca/datasets/neighbourhood-crime-rates-boundary-file-
#/data?geometry=-80.421%2C43.542%2C-78.335%2C43.890&orderBy=Hood_ID
#Loading json file (geojson in this case) and extracting all the relevant attributes to and appending them in a list

with open('Resources/Neighbourhood_Crime_Rates_Boundary_File_.geojson') as f:
    data = json.load(f)

Neighbourhood = []
Hood_ID = []
Assault_2016 = []
AutoTheft_2016 = []
BreakandEnter_2016 = []
Homicide_2016 = []
Robbery_2016 = []
TheftOver_2016 = []
    
for feature in data['features']:
    #print(feature['geometry']['type'])
    #print(feature['geometry']['coordinates'])
    #print(feature)
    #print(feature['properties']['Neighbourhood'])
    #print(feature['properties']['Hood_ID'])
    
    Neighbourhood.append(feature['properties']['Neighbourhood'])
    Hood_ID.append(feature['properties']['Hood_ID'])
    Assault_2016.append(feature['properties']['Assault_2016'])
    AutoTheft_2016.append(feature['properties']['AutoTheft_2016'])
    BreakandEnter_2016.append(feature['properties']['BreakandEnter_2016'])
    Homicide_2016.append(feature['properties']['Homicide_2016'])
    Robbery_2016.append(feature['properties']['Robbery_2016'])
    TheftOver_2016.append(feature['properties']['TheftOver_2016'])

In [3]:
#creating a datframe in pandas with all the data extracted from the json file

toronto_crime_df = pd.DataFrame(
    {
    "Neighbourhood": Neighbourhood,
    "Neighbourhood ID": Hood_ID,
    "Assault_2016": Assault_2016,
    "AutoTheft_2016": AutoTheft_2016,
    "BreakandEnter_2016": BreakandEnter_2016,
    "Homicide_2016": Homicide_2016,
    "Robbery_2016": Robbery_2016,
    "TheftOver_2016": TheftOver_2016
    }
)
toronto_crime_df.head()

,Neighbourhood,Neighbourhood ID,Assault_2016,AutoTheft_2016,BreakandEnter_2016,Homicide_2016,Robbery_2016,TheftOver_2016
0,Yonge-St.Clair,097,39,7,12,0,6,8
1,York University Heights,027,361,105,98,2,70,37
2,Lansing-Westgate,038,68,27,41,0,9,5
3,Yorkdale-Glen Park,031,174,41,66,1,24,26
4,Stonegate-Queensway,016,76,12,49,0,16,4

In [4]:
#indexing the neighbourhood column
crime_df = toronto_crime_df.set_index('Neighbourhood')

In [5]:
#final dataframe
crime_df.head()

,Neighbourhood ID,Assault_2016,AutoTheft_2016,BreakandEnter_2016,Homicide_2016,Robbery_2016,TheftOver_2016
Neighbourhood,,,,,,,
Yonge-St.Clair,097,39,7,12,0,6,8
York University Heights,027,361,105,98,2,70,37
Lansing-Westgate,038,68,27,41,0,9,5
Yorkdale-Glen Park,031,174,41,66,1,24,26
Stonegate-Queensway,016,76,12,49,0,16,4